
# Mac.
.DS_Store

# Node modules.
node_modules/
**/node_modules/

# Dist.
dist/
**/dist/
dist_offline_*/
dist_offline/

# Testfile.
test/unit/coverage
test/e2e/reports
.coverage-report/

# Debug log.
npm-debug.log
selenium-debug.log

# IDEs.
.idea/
# .vscode/

# Cache-Loader.
.cache-loader/
.cache/

package-lock.json

.DS_Storelevel.log
serverConfig.json
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.node_repl_history
*.tgz
*.tar.gz
.parcel-cache/
.next/
out/
.nuxt/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
*_request_body.json
api_id.txt
logo_prompt.txt
level.log
